*{
	box-sizing: border-box;
}

body{
	padding-top: 5%;
	margin: 0;
	font-family: sans-serif;
	/* background: rgb(191, 241, 224); */
	/* background: url(https://image.freepik.com/vector-gratis/fondo-geometrico-plano_23-2148967370.jpg); */
	background-size: cover;
	background-attachment: fixed;
}

h1{
	color: white;
	text-align: center;
	padding: 20px;
	font-weight: 100;
	font-size: 30px;
	background: rgb(44, 44, 24);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.form{
	width: 95%;
	max-width: 550px;
	/* max-width: 750px; */
	margin: auto;
	/* background: rgb(146, 180, 184); */
	/* background: rgba(200, 213, 215, 0.596); */
	background: #C78CDA;
	border-radius: 10px;
	/* padding: 0px 20px 50px 20px; */
	/* max-height: max-content; */
}

.contenedor{
	padding-top: 10px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 20px 50px 20px;
	/* background: rebeccapurple; */
}

input{
	margin-bottom: 15px;
	--webkit--botton:15px;

	padding: 20px;
	--webkit--padding:20px;

	font-size: 16px;
	--webkit--font-size:16px;

	border-radius: 10px;
	--webkit--border-radius:10px;

	border: 4px solid #d7868624;
	--webkit--border:4px solid #d7868624;
	/* width: 100%;
	--webkit--width:100%; */
	/* background: violet; */
}

.nomApe{
	width: 48%;
	--webkit--width: 48%;
}

.input{
	width: 100%;
	--webkit--width: 100%;
	display: block;
	--webkit--display: block;
}
.input-date{
	width: 100%;
	--webkit--width: 100%;
	display: block;
	--webkir--display: block;
	/* background-color: blueviolet; */
	/* border-radius: 10px; */
}
.submit{
	/* background: rgb(135, 42, 227); */
	background: #FA32A3;
	/* -webkit-backgroud:rgb(135, 42, 227); */

	/* color: black; */
	margin: auto;
	padding: 20px 50px;
	-webkit-padding:10px 40px;

	cursor: pointer;
	border-radius: 10px;
	-webkit-border-radius:10px;
	
	margin-top: 20px;
	-webkit-margin-top:20px;
}

.submit:active{
	transform: scale(1.05);
}

.pequenia{
	font-size: 10px;
	text-align: left;
	margin-top: -14px;
	/* background-color: rgb(193, 111, 209); */
	width: 100%;
	display: block;
}

.indicadores{
	/* background-color: rgb(243, 232, 71); */
	text-align: left;
	color: rgb(0, 0, 0);
	font-weight: bolder;	
	width: 100%;
} 

.inputCode{
	 width: 69%;
}

.validate{
	width: 31%;
	-webkit-width: 31%;
	
	cursor: pointer;
	--webkit--cursor: pointer;
	
	margin-left: -5px;
	--webkit--margin-left: -8px;
	
	border-radius: 10px;
	-webkit-border-radius: 10px;
	
	background: rgb(221, 61, 69);
	-webkit-background: rgb(221, 61, 69);
	--o--background: rgb(221, 61, 69);
}

.validate:active{
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
}

.validar-div{
	/* display: flex; */
	width: 100%;
	/* background: yellow; */
}


.info{
	display: block;
	background: rgba(129, 141, 201, 0.407);
	/* width: 100%; */
	margin: auto;
	margin: 10px;
	padding: 50px;
	/* max-width: 750px; */
}

.info h2{
	text-align: center;
}


 .ok {
	text-align: center;
	width: calc(50%);
	margin: 5%;
	padding: 20px;
	background-color: rgba(92, 185, 128, 0.678);
	color: rgb(34, 28, 28);

	padding-left: 15px;
    padding-right: 15px;
    margin-left: 24%;
} 
/*
.bad {
	text-align: center;
    width: calc(50%);
    margin: 5%;
    padding: 12px;
    background-color: rgb(233, 57, 57);
    color: rgb(0, 0, 0);
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 24%;
}  */

.contenedor-footer{
	display: block;
	/* background-color: rgba(109, 178, 196, 0.446); */
	/* width: 98%; */
	margin: auto;
	margin: 10px;
	text-align: center;
	padding-top: 10%;
	/* padding-bottom: 4%; */
}

img{
	width: 50px;
	height: 50px;
}

.contenedor-footer{
	display: flex;
	height: 10vh;
	align-items: center;
	justify-content: center;
}

.contenedor-footer ul li{
	list-style-type: none;
	display: inline-block;
	/* margin: 0px; */
	/* width: 50px; */
	/* height: 50px; */
	text-align: center;
}

.contenedor-footer ul li a{
	display: block;
	padding: 10px;
	margin: 10px;
	/* background: rgba(230, 172, 172, 0.152); */
	/* color: #fff; */
	/* line-height: 50px; */
	/* font-size: 20px; */
	transition: .2s;
}

.contenedor-footer ul:hover a{
	filter: blur(2px);
}

.contenedor-footer ul li a:hover{
	transform: translateY(-3px) scale(1.05);
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .4);
	filter: none;
}

/* .contenedor-footer ul li .instagram:hover{
	background: rgba(202, 166, 129, 0.302);
} */

.foot{
	background: rgb(24, 24, 24);
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.copyright{
	color: white;
	font-weight: bolder;
}

.informacion{ 
	color: white;
	font-weight: bolder;
}

a{
	color: white;
	text-decoration: none;
	/* font-weight: bolder; */
}